@use "../abstract/" as *;

.aboutBanner {
  padding: 4rem 0;
  &__top {
    @include between;
    &--left {
      small {
        text-transform: uppercase;
      }
      h1 {
        margin-top: 2rem;
        line-height: 5rem;
        max-width: 48rem;
      }
    }
    &--right {
      max-width: 40rem;
    }
  }
  &__bottom {
    &--a {
      grid-area: a;
      @include imgFit(500px, 500px);
      margin: 1rem 0;
    }
    &--b {
      grid-area: b;
      h3 {
        margin-bottom: 2rem;
      }
      p {
        max-width: 40rem;
      }
    }
    &--c {
      grid-area: c;
      margin-top: 4rem;
      @include imgFit(100%, 700px);
    }
    display: grid;
    grid-template-areas:
      "a c"
      "b c";
    align-items: center;
    gap: 1rem;
  }
}

.aboutValues {
  padding: 4rem 0;
  color: $clr--light;
  &__cards {
    @include gridFixed(2, 1rem);
    max-width: 70rem;
    margin: 0 auto;
    gap: 2rem;
    .cardIcon {
      background-color: $clr--light;
      color: $clr--dark;
      display: flex;
      gap: 2rem;
    }
  }
}

.aboutLocation{
    padding: 4rem 0;
    &__map{
        @include centerAll;
    }
}
