@use "../abstract/" as *;
@use "../base/typography" as *;

.header {
  padding: 3rem 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  z-index: 99;
  &__wrapper {
    @include between;
  }
  &__logo {
    a > h4 {
      color: $clr--dark;
    }
  }
  &__nav {
    ul {
      display: flex;
      align-items: center;
      gap: 3rem;
      li a {
        font-weight: 600;
        color: $clr--dark;
      }
      @include mediaQuery(520px) {
        background-color: $clr--dark;
        height: 100vh;
        width: 100%;
        position: fixed;
        right: -100%;
        z-index: 1;
        margin-top: 4rem;
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        transition: all 0.5s ease;
        li a {
        color: $clr--light;
      }
      }
    }
    &.open ul {
      right: 0;
      transition: all 0.5s ease;
      margin-top: 4rem;
    }
  }
  .toggle__menu {
    display: none;
    span {
      background-color: $clr--dark;
      color: $clr--dark;
      width: 2.5rem;
      height: 0.1rem;
      border: 2px solid $clr--dark;
      border-radius: 1rem;
    }
    @include mediaQuery(520px) {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    &.open span {
      &:first-child {
        transform: translate(0, 14px) rotate(225deg);
        transition: 0.5s ease;
      }
      &:nth-child(2) {
        opacity: 0;
        transition: 0.5s ease;
      }
      &:last-child {
        transform: translate(0, -10px) rotate(-225deg);
        transition: 0.5s ease;
      }
    }
  }
   @include mediaQuery(520px) {
    position: fixed;
    width: 100%;
    // top: 0;
   }
}
